<!DOCTYPE html>
<html>
<head>
    <title>User page</title>
    <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <h1>
        Read and Remember
        <div id="logoutButtonParent">
            <form id="logoutForm" method="GET" action="/logout">
                <button id="logoutButton">Logout</button>
            </form>
        </div>
    </h1>
    <p class="welcomeParagraph">Welcome to your own personal book collection. We hope you enjoy keeping track of books
    you have read</br> as well as adding new books you would like to read in the future!</p>
    <h2 id="bookList">Book list:</h2>
    <p>The books below are ordered by desire to read so you can focus on reading
the books you currently want to read the most.</p>
    <div id="gridContainer" ng-repeat="book in books | orderBy: '-readDesire'">
        <div class="bookDiv">
            <img class="bookImage" src="{{book.bookUrl}}" alt="A picture of the book"/></br></br>
            Book name: {{book.book}}</br></br>
            Number of times read: {{book.numRead}}</br></br>
            Current level of desire to read: {{book.readDesire}}</br></br>
            <button ng-click="deleteBook(book)">Delete Book</button>
        </div>
    </div>
    <h2>Add a new book:</h2>
    <div id="bookAdditionParent">
        <form id="bookAddition" ng-submit="addBook()"> 
            <input type="textarea" placeholder="Book name" ng-model="book"></br>
            <input type="textarea" placeholder="Url to book picture" ng-model="bookUrl"></br>
            <input type="number" placeholder="Number of times read" ng-model="numRead"></br>
            <span>Read desire: &nbsp 
                <select ng-model="readDesire">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </span></br>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="javascripts/script.js"></script>
</html>